.desktop {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: url(/background.jpeg);
  background-size: cover;
  background-position: 50%;
  position: fixed;
  top: 0;
  left: 0;
  height: 95vh;
  width: 100vw;
  user-select: none;
}
.appSection {
  display: flex;
  flex-direction: column;
}

.appIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 10px;
}
.appIconImage {
  /* Temporary size and styling */
  height: auto;
  width: 70%;
  z-index: 1;
}
.appIconMask {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: rgba(11, 96, 255, 0.576);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: cover;
  z-index: 2;
}
.appIconLabel {
  color: #f5f4ff;
  text-shadow: 2px 2px 3px #000000;
  text-align: center;
  margin-top: 5px;
  padding: 2px 10px 2px 10px;
}
.appIconLabelHighlighted {
  color: #f5f4ff;
  text-shadow: 2px 2px 3px #000000;
  text-align: center;
  margin-top: 5px;
  padding: 2px 10px 2px 10px;
  background-color: rgba(11, 96, 255, 0.762);
}
.aMobileAppIcon {
  width: fit-content;
}

.selectableRectangle {
  position: absolute;
  border-style: dotted;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.677);
  z-index: 2;
  pointer-events: none;
}

.triangleLeftProject {
  position: absolute;
  left: 101px;
  top: 170px;
  width: 20px;
  height: auto;
  z-index: 101;
  filter: drop-shadow(0px 1px 0 black) drop-shadow(-1px -1px 0 black);
  user-select: none;
}
.guideBoxProject {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #ffffca;
  border: black 1px solid;
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  left: 120px;
  top: 150px;
  user-select: none;
}
.guideLabel {
  margin: 20px;
}
