.taskbarLine {
  grid-area: taskbarLine;
  background: rgb(36, 93, 219);
  background: linear-gradient(
    180deg,
    rgba(36, 93, 219, 1) 0%,
    rgba(70, 144, 230, 1) 4%,
    rgba(32, 87, 215, 1) 16%,
    rgba(36, 93, 219, 1) 49%,
    rgba(38, 99, 224, 1) 91%,
    rgba(25, 64, 165, 1) 96%
  );
}

/* Not working for some reason, investigate later */
/* .startButton {
  grid-area: startButton;
} */

.taskbar {
  display: grid;

  grid-template:
    [row1-start] "taskbarLine taskbarLine taskbarLine taskbarLine taskbarLine" 5vh [row1-end]
    [row2-start] "startBack startMiddle startEnd . ." 5vh [row2-end]
    / 2.5vh 0.075fr 2.5vh 1fr 1fr;
}
