.taskbar {
  display: grid;

  grid-template:
    [row1-start] "a b c d e" 5vh [row1-end]
    / 2.5vh 0.075fr 2.5vh 1fr 1fr;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
}

.taskbarLine {
  grid-area: a / a / a / e;
  background: rgb(36, 93, 219);
  background: linear-gradient(
    180deg,
    rgba(36, 93, 219, 1) 0%,
    rgba(70, 144, 230, 1) 4%,
    rgba(32, 87, 215, 1) 16%,
    rgba(36, 93, 219, 1) 49%,
    rgba(38, 99, 224, 1) 91%,
    rgba(25, 64, 165, 1) 96%
  );
  z-index: 1;
}

.SysTray {
  grid-area: a / e / a / e;
  /* Temporary until this is designed */
  background: yellow;
  z-index: 2;
}
